.container-cards {
  border: 8px solid lightskyblue;
  border-radius: 5%;
  padding: 15px 15px 15px 15px;
  width: 75%;
  height: auto;
  margin: auto;
  margin-top: 15px;
}
.chats {
  display: flex;
  border: 2px solid goldenrod;
  background-color: lightskyblue;
  opacity: 0.7;
  border-radius: 10%;
  margin: 8px 8px 8px 8px;
  padding: 5px 5px 5px 5px;
  width: auto;
}
.chatBtns {
  margin-left: 55%;
}
.submitSection {
  text-align: center;
  margin: 5px;
}
#chatInput {
  width: 40%;
}
#chatEdit,
#chatDelete {
  margin: 5px;
}
